<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-title" content="App">
  <meta name="application-name" content="App">
  <meta name="mobile-web-app-capable" content="yes">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <style>
    html, body {
      margin: 0;
    }

    #preloader {
      width: 100%;
      height: 85vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    #preloader__label {
      font-weight: 600;
      font-family: Arial, sans-serif, serif;
      margin-top: 24px;
    }
  </style>
</head>
<body>
  <div id="root">
    <div id="preloader">
      <div id="preloader__label">Loading App...</div>
    </div>
  </div>
</body>
</html>